.foo{ /* här är delen som sätter scrollbars på kartan när den blir för liten då detta är bilden med kartan som vi inte kan ändra kordenaterna på tillsamans med bilden utan plugin */
    margin: auto;
}

#figure{ /* här är delen som sätter storleken runt den klickbara kartan */
    margin: auto;
    overflow: auto;
    width: 70%;
}

#mapAnswer{ /* här sätter vi värdena på diven där vi lägger våra svar vi får av att klicka på kartorna me centrering av texten och centrering av diven med margin */
    width: 50%;
    height: 4em;
    margin: auto;
    text-align: center;
}

/* sätter atandard värden på dena del av hemsidan*/