@media screen and (orientation: portrait){

    #mapAnswer{
        width: 100%;
    }

    #figure{
        width: 100%;
    }

    #output p{

    font-size: 1.5em;

    }
      .output {

    background-color:red; 

    }

    .kontor{

        font-size: 1.5em;
    }

}

@media screen and (max-width: 40.5em) and (orientation: landscape) {
    #mapAnswer{
        width: 85%;
    }

    #figure{
        width: 85%;
    }
}