@media screen and (orientation: portrait){ /* Sätter värden beroende skärmen står vertikalt */

    #mapAnswer{
        width: 100%;
    }

    #figure{
        width: 100%;
    }

    #output p{

    font-size: 1.5em;

    }
      .output {

    background-color:red; 

    }

    .kontor{

        font-size: 1.5em;
    }

}

@media screen and (max-width: 40.5em) and (orientation: landscape) { /* Sätter värden beroende på uplösningen på breden och att skärmen liger horisontelt */
    #mapAnswer{
        width: 85%;
    }

    #figure{
        width: 85%;
    }
}

/* 
    justeringar på divarna för att passa mobila enher. beroend på data css:en 
    där figuren är den som styr kartan och hur den scrollas och mapanser är en text div där vi lägger in information vi får från kontoren
*/
