
#output {

}

.foo{ /* hÃ¤r Ã¤r delen som sÃ¤tter scrollbars pÃ¥ kartan nÃ¤r den blir fÃ¶r liten */
    margin: auto;
}



#figure{ /* här är delen som sätter storleken runt den klickbara kartan */

    margin: auto;
    overflow: auto;
    width: 70%;
}

#mapAnswer{ /* här sätter vi värdena på diven där vi lägger våra svar vi får av att klicka på kartorna me centrering av texten och centrering av diven med margin */
    width: 50%;
    height: 4em;
    margin: auto;
    text-align: center;
}


/* sätter atandard värden på dena del av hemsidan*/
