@media screen and (orientation: portrait){

    #mapAnswer{
        width: 100%;
    }

    #figure{
        width: 100%;
    }
}

@media screen and (max-width: 40.5em) and (orientation: landscape) {
    #mapAnswer{
        width: 85%;
    }

    #figure{
        width: 85%;
    }
}