#output {

}

.foo{ /* här är delen som sätter scrollbars på kartan när den blir för liten */
    margin: auto;
}

#figure{/* här är delen som sätter storleken runt den klickbara kartan */
    margin: auto;
    overflow: auto;
    width: 70%;
}

#mapAnswer{
    width: 70%;
    height: 15em;
    background-color: powderblue;
    margin: auto;
    text-align: center;
}