#Officeimgs{
    width: 48%;
    background-color: red;
    margin-top: -0.25em; 
    margin-left: -0.25em;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
    padding: 0;
    border: solid;
    float: left;
    text-align: center;
}

#officetitle{

}

#officeimg1{
    width: 47%;
    border: solid;
    float: left;
}

#officeimg2{
    width: 47%;
    border: solid;
    float: right;
}

#officeimg3{
    width: 47%;
    border: solid;
    float: left;
}

#Text{
    width: 48%;
    background-color: red;
    margin-top: -0.25em; 
    margin-left: -0.25em;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
    padding: 0;
    border: solid;
    float: right;
}