#archiveImgs{
    width: 60%;
    margin: auto;
    padding: 0;
    border: solid;
    text-align: center;
}

#officetitle{
}

#gameimg1{
    width: 60%;
    border: solid;
}

#gameimg2{
    width: 40%;
    border: solid;
}

#gameimg3{
    width: 40%;
    border: solid;
}