#contacts{
    width: 50%;
    margin: auto;
    text-align: center;
}

input {
margin:0.5em;
padding:0.25em; 

}

textarea{
resize: none;
}

#submit{
    width: 25%;
	font-size:1.6em;
	height:1.6em;
}

