    div img{
       height: 60%;
       width: 35%;
       border: solid; /* läger en solid odefinerad färg tjock kant på bilderna*/
       border-radius: 5px; /* sätter runt kant på bilderna */
    }

    .imgGallery{
       text-align: center;
       width: 100%;
       height: 30em;
    }

    /* Här så sätter vi storleken på bildspelet */
    /* Vi börjar med att sätta standardvärden och fasta värde på img gallery som har alla bilder inom sig. sedan tar vi och sätter värde på
       själva bilden/bilderna med % för att få det att anpasa sig till sidan. vi sätter en kant med border på själva bilden och kör en text-align center för att centrela själva bilden. */