body{
	background-color:#ffffff;
}


h1, p{
  font-family: "Times New Roman", Times, serif;
}

 .nav ul {
    list-style-type: none;
    margin-top: -0.25em; 
    margin-left: -0.25em;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.nav li {
    float: left;
    border-right:1px solid #bbb;
}

.nav li:last-child {
    border-right: none;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.85em 1em;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.vText{
	height: 50%;
	width: 100%;
	text-align:center;
	display: inline-block;
	margin-top: -0.25em;
	margin-right: 0.25em;
	margin-left:-0.25em;
	margin-bottom:none;
	padding-top: 0.5em;
}

.vText p{
	font-size: 150%;
}

.vText h1{
    font-size:250%;
}

#logo{ /*ändrar logan till rätt storlek på datorer */
	width: 20%;
    float: left;
}